/* Estilos para o modo noturno */
body.dark-mode {
    background-color: #333; /* Cor de fundo escura */
    color: #f0f0f0; /* Cor do texto clara */
}

.dark-mode .search-container {
    background-color: #222; /* Cor de fundo do container de pesquisa no modo noturno */
    box-shadow: 0 0 10px rgba(255,255,255,0.1); /* Sombra do container de pesquisa no modo noturno */
    color: #888; /* Cor do texto no modo noturno */
}

.dark-mode .search-container input[type="text"] {
    background-color: #333;
    border: 1px solid #888; /* Cor da borda da caixa de pesquisa no modo noturno */
    color: #f0f0f0; /* Cor do texto na caixa de pesquisa no modo noturno */
}

.dark-mode .search-container button {
    background-color: #00478d; /* Cor de fundo do botão no modo noturno */
    color: #f0f0f0; /* Cor do texto no botão no modo noturno */
}

.dark-mode .theme-btn {
    background-color: #555; /* Cor de fundo do botão no modo noturno */
    color: #f0f0f0; /* Cor do texto no botão no modo noturno */
}
